{% extends 'admins/base.html' %}

{% block content %}
    <h2>重置 {{ user.username }} 的密码</h2>
    <form method="post">
        {% csrf_token %}
        
        <div>
            <label>{{ form.password1.label }}:</label>
            {{ form.password1 }}
            {% if form.password1.errors %}
                <span style="color: red;">{{ form.password1.errors.0 }}</span>
            {% endif %}
        </div>
        
        <div>
            <label>{{ form.password2.label }}:</label>
            {{ form.password2 }}
            {% if form.password2.errors %}
                <span style="color: red;">{{ form.password2.errors.0 }}</span>
            {% endif %}
        </div>
        
        <button type="submit" class="btn btn-save">重置密码</button>
        <a href="{% url 'admin_dashboard' %}" class="btn btn-cancel">取消</a>
    </form>
{% endblock %}